<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../assets/css/blog.css">
    <title>Blog</title>
</head>
<body>
<div class="site__wrapper">
    <div class="container">
        <header class="header">
            <div class="header__logo-wrapper">
                <span class="header__logo">BLOG</span>
            </div>
            <ul class="navigation">
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Navi 1</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Navi 2</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Navi 3</a>
                </li>
            </ul>
        </header>
        <div class="swiper swiper-blog">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide">1</div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">1</div>
                </div>
            </div>
            <div class="swiper-button-prev arrow-prev-blog"></div>
            <div class="swiper-button-next arrow-next-blog"></div>
        </div>
        <div class="site__container">
            <main class="main">
                <div class="main__content">
                    <div class="post">
                        <div class="post__image-wrapper">
                            <img src="../assets/images/blog/post-image-1.jpg" alt="post" class="post__image">
                        </div>
                        <h1 class="post__title">
                            <a href="#">
                                Useful Chrome Extensions that you shouldn't Miss Out
                            </a>
                        </h1>
                        <div class="post__inner">
                            <div class="post__row">
                                <img src="../assets/images//blog/post-avatar.png" alt="avatar" class="post__icon">
                                <p class="post__lead">Damian Zalewski</p>
                            </div>
                            <div class="post__row">
                                <img src="../assets/images/blog/post-calendar.png" alt="calendar" class="post__icon">
                                <p class="post__lead">20.12.2021</p>
                            </div>
                        </div>
                        <p class="post__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, iste debitis. At harum vero ad aperiam illo numquam, illum laboriosam veniam cupiditate tempore. Magni officia praesentium vero dolores, dolorum quam!
                        </p>
                        <a href="#" class="post__btn">Kontynuj czytanie</a>
                    </div>
                    <div class="post">
                        <div class="post__image-wrapper">
                            <img src="../assets/images/blog/post-image-1.jpg" alt="post" class="post__image">
                        </div>
                        <h1 class="post__title">
                            <a href="#">
                                Useful Chrome Extensions that you shouldn't Miss Out
                            </a>
                        </h1>
                        <div class="post__inner">
                            <div class="post__row">
                                <img src="../assets/images//blog/post-avatar.png" alt="avatar" class="post__icon">
                                <p class="post__lead">Damian Zalewski</p>
                            </div>
                            <div class="post__row">
                                <img src="../assets/images/blog/post-calendar.png" alt="calendar" class="post__icon">
                                <p class="post__lead">20.12.2021</p>
                            </div>
                        </div>
                        <p class="post__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, iste debitis. At harum vero ad aperiam illo numquam, illum laboriosam veniam cupiditate tempore. Magni officia praesentium vero dolores, dolorum quam!
                        </p>
                        <a href="#" class="post__btn">Kontynuj czytanie</a>
                    </div>
                </div>
            </main>
            <aside class="aside">
                <div class="recentPosts">
                    <div class="recentPosts__heading">
                        <h3 class="recentPosts__header">
                            Ostatnie Posty
                        </h3>
                    </div>
                    <div class="recentPosts__inner">
                        <img src="../assets/images/blog/post-avatar.png" alt="avatar" class="recentPosts__avatar">
                        <div class="recentPosts__flex">
                            <p class="recentPosts__date">20.21.2021</p>
                            <p class="recentPosts__title">Ostatni artukuł</p>
                        </div>
                    </div>
                    <div class="recentPosts__inner">
                        <img src="../assets/images/blog/post-avatar.png" alt="avatar" class="recentPosts__avatar">
                        <div class="recentPosts__flex">
                            <p class="recentPosts__date">20.21.2021</p>
                            <p class="recentPosts__title">Ostatni artukuł</p>
                        </div>
                    </div>
                    <div class="recentPosts__inner">
                        <img src="../assets/images/blog/post-avatar.png" alt="avatar" class="recentPosts__avatar">
                        <div class="recentPosts__flex">
                            <p class="recentPosts__date">20.21.2021</p>
                            <p class="recentPosts__title">Ostatni artukuł</p>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="../assets/js/swiper.js"></script>
</body>
</html>