<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../assets/css/blog.css">
    <title>Blog</title>
</head>
<body>
<div class="site__wrapper">
    <div class="container">
        <header class="header" id="header">
            <div class="header__container container">
                <div class="header__logo">
                    <a href="#">
                        <img src="../assets/images/Logo.svg" alt="website logo">
                    </a>
                </div>
                <nav class="header__navigation">
                    <li class="header__navigation-item">
                        <a href="../index.html#workflow" class="header__navigation-link">Jak działamy</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="../index.html#pricing" class="header__navigation-link">Oferta</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="../index.html#why-us" class="header__navigation-link">Dlaczego my</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="../index.html#faq" class="header__navigation-link">FAQ</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="../index.html#footer" class="header__navigation-link">Kontakt</a>
                    </li>
                </nav>
                <a href="./login.html" class="header__order-btn btn">Panel klienta</a>
                <div class="header__hamburger">
                    <div class="header__hamburger--line"></div>
                    <div class="header__hamburger--line"></div>
                    <div class="header__hamburger--line"></div>
                </div>
            </div>
        </header>
        <div class="swiper swiper-blog">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide__background"></div>
                        <div class="slide__background--mask"></div>
                        <div class="slide__content">
                            <p class="slide__date text-shadow">20.20.2021</p>
                            <p class="slide__heading text-shadow">Jak usunąć negatywne opinie z wizytówki moja firma?</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide__background"></div>
                        <div class="slide__background--mask"></div>
                        <div class="slide__content">
                            <p class="slide__date text-shadow">20.20.2021</p>
                            <p class="slide__heading text-shadow">Jak usunąć negatywne opinie z wizytówki moja firma?</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide__background"></div>
                        <div class="slide__background--mask"></div>
                        <div class="slide__content">
                            <p class="slide__date text-shadow">20.20.2021</p>
                            <p class="slide__heading text-shadow">Jak usunąć negatywne opinie z wizytówki moja firma?</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide__background"></div>
                        <div class="slide__background--mask"></div>
                        <div class="slide__content">
                            <p class="slide__date text-shadow">20.20.2021</p>
                            <p class="slide__heading text-shadow">Jak usunąć negatywne opinie z wizytówki moja firma?</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide__background"></div>
                        <div class="slide__background--mask"></div>
                        <div class="slide__content">
                            <p class="slide__date text-shadow">20.20.2021</p>
                            <p class="slide__heading text-shadow">Jak usunąć negatywne opinie z wizytówki moja firma?</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide__background"></div>
                        <div class="slide__background--mask"></div>
                        <div class="slide__content">
                            <p class="slide__date text-shadow">20.20.2021</p>
                            <p class="slide__heading text-shadow">Jak usunąć negatywne opinie z wizytówki moja firma?</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide__background"></div>
                        <div class="slide__background--mask"></div>
                        <div class="slide__content">
                            <p class="slide__date text-shadow">20.20.2021</p>
                            <p class="slide__heading text-shadow">Jak usunąć negatywne opinie z wizytówki moja firma?</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide__background"></div>
                        <div class="slide__background--mask"></div>
                        <div class="slide__content">
                            <p class="slide__date text-shadow">20.20.2021</p>
                            <p class="slide__heading text-shadow">Jak usunąć negatywne opinie z wizytówki moja firma?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev arrow-prev-blog"></div>
            <div class="swiper-button-next arrow-next-blog"></div>
        </div>
        <div class="site__container">
            <main class="main">
                <div class="main__content">
                    <div class="post active">
                        <div class="post__image-wrapper">
                            <img src="../assets/images/blog/post-image-1.jpg" alt="post" class="post__image">
                        </div>
                        <h1 class="post__title">
                            <a href="#">
                                Useful Chrome Extensions that you shouldn't Miss Out
                            </a>
                        </h1>
                        <div class="post__inner">
                            <div class="post__row">
                                <img src="../assets/images/blog/post-calendar.png" alt="calendar" class="post__icon">
                                <p class="post__lead">20.12.2021</p>
                            </div>
                        </div>
                        <p class="post__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, iste debitis. At harum vero ad aperiam illo numquam, illum laboriosam veniam cupiditate tempore. Magni officia praesentium vero dolores, dolorum quam!
                        </p>
                        <p class="post__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, aut porro. Excepturi eaque recusandae libero nam? Iste eos quas quaerat, quos sequi debitis suscipit sed repellat, cumque laboriosam blanditiis reprehenderit.
                        </p>
                        <p class="post__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, aut porro. Excepturi eaque recusandae libero nam? Iste eos quas quaerat, quos sequi debitis suscipit sed repellat, cumque laboriosam blanditiis reprehenderit.
                        </p>
                        <p class="post__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, aut porro. Excepturi eaque recusandae libero nam? Iste eos quas quaerat, quos sequi debitis suscipit sed repellat, cumque laboriosam blanditiis reprehenderit.
                        </p>
                        <div class="post__image-box ">
                            <img src="../assets/images/blog/post-image-1.jpg" alt="image">
                        </div>
                        <p class="post__text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis blanditiis quas, dolores accusamus voluptas libero, culpa maiores ab ratione commodi vel asperiores possimus assumenda harum. Iure reiciendis iusto dolor vitae.
                        </p>
                    </div>
                </div>
            </main>
            <aside class="aside">
                <div class="recentPosts">
                    <!-- <div class="recentPosts__heading">
                        <h3 class="recentPosts__header">
                            Ostatnie Posty
                        </h3>
                    </div>
                    <div class="recentPosts__inner">
                        <img src="../assets/images/blog/post-avatar.png" alt="avatar" class="recentPosts__avatar">
                        <div class="recentPosts__flex">
                            <p class="recentPosts__date">20.21.2021</p>
                            <p class="recentPosts__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui sequi velit at iusto .</p>
                        </div>
                    </div>
                    <div class="recentPosts__inner">
                        <img src="../assets/images/blog/post-avatar.png" alt="avatar" class="recentPosts__avatar">
                        <div class="recentPosts__flex">
                            <p class="recentPosts__date">20.21.2021</p>
                            <p class="recentPosts__title">Ostatni artukuł</p>
                        </div>
                    </div>
                    <div class="recentPosts__inner">
                        <img src="../assets/images/blog/post-avatar.png" alt="avatar" class="recentPosts__avatar">
                        <div class="recentPosts__flex">
                            <p class="recentPosts__date">20.21.2021</p>
                            <p class="recentPosts__title">Ostatni artukuł</p>
                        </div>
                    </div> -->
                    <div class="categories">
                        <div class="categories__heading">
                            <h3 class="categories__header">
                                Kategorie
                            </h3>
                        </div>
                        <p class="categories__category">
                            Kategoria 1
                        </p>
                        <p class="categories__category">
                            Kategoria 2
                        </p>
                        <p class="categories__category">
                            Kategoria 3
                        </p>
                        <p class="categories__category">
                            Kategoria 4
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="../assets/js/swiper.js"></script>
<script src="../assets/js/header-sticky.js"></script>
</body>
</html>